.changeColor {
    position: absolute;
    top: 0;
    left: 580px;
    color: red;
}
.button {
    position: absolute;
    top: 100px;
    left: 700px;
}

.colour-button {
    position: absolute;
    top: 100px;
    left: 600px;
}
#text {
    color: indigo;
    font-weight: bold;
    font-size: max(100px, 50px);
}
